@import url('https://fonts.googleapis.com/css2?family=Khand&display=swap');

/* custom css styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: khand;
  transition: all 0.2s;
}

:root {
  scroll-behavior: smooth;

  /* variables */
  --j-avi-dim: 2000px;

  --socials-img-dim: 1000px;

  --reqres-width: 4210px;
  --reqres-height: 1140px;

  --pos-15: -70%;
  --pos-24: -25%;
  --pos-3: 0;

  --col-matcha: #79ab74;
  --col-matcha-rgb: 121, 171, 116;

  /* overflow: hidden; */

}

ul {
  list-style-type: none;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

abbr {
  text-decoration: none;
}

.prompt-next-sec {
  cursor: pointer;
  font-size: 1.3em;
  visibility: hidden;
  position: relative;
}

.prompt-next-sec p {
  position: relative;
}

.prompt-next-sec:hover p {
  color: var(--col-matcha);
  animation: prompt-anmin 0.3s ease-in forwards;
}

.next-sec {
  visibility: visible;
}

@keyframes prompt-anmin {
  from {
    top: -20px;
  }

  50% {
    top: 10px;
  }

  to {
    top: 0;
  }
}

@keyframes prompt-anmin {
  from {
    top: 0;
  }

  50% {
    top: 10px;
  }

  to {
    top: 0;
  }
}

/* top navigation styles */
.topnav {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  position: fixed;
  z-index: 20;
}

.topnav-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 20px 30px;

  width: 100%;
}

#btn-toggle-nav {
  display: none;
  cursor: pointer;

  margin: 5px;
  padding: 5px;

  position: absolute;
  right: 0;
  top: 0;

  font-weight: bold;

  background: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  width: 50px;
  letter-spacing: 2px;
}

.j-logo img {
  /* original dim: 1630 650 */
  width: calc(1630px/10);
}

.j-logo:hover {
  cursor: pointer;
  filter: brightness(0.9) invert(.5) sepia(.5) hue-rotate(70deg) saturate(200%);
}

.nav-list {
  display: flex;
  list-style-type: none;

  padding-bottom: 20px;
  align-items: baseline;
  cursor: pointer;
}

.nav-list li {
  /* 1736 1020 */
  width: calc(1736px/2/12);
  height: calc(1020px/3/12);

  background-image: url('assets/images/navheadings.png');
  background-size: calc(1736px/12) calc(1020px/12);
  animation: boil2x3-1 0.3s steps(2) infinite;

  margin: 0 10px 0 10px;
}

.nav-list li:hover {
  filter: brightness(0.9) invert(.5) sepia(.5) hue-rotate(70deg) saturate(200%);
}

.nav-list li:nth-child(2) {
  background-position: center right;
  animation-name: boil2x3-2;
}

.nav-list li:nth-child(3) {
  background-position: bottom right;
  animation-name: boil2x3-3;
}

@keyframes boil2x3-1 {
  from {
    background-position: -100% 0;
  }

  to {
    background-position: 100% 0;
  }
}

@keyframes boil2x3-2 {
  from {
    background-position: -100% 50%;
  }

  to {
    background-position: 100% 50%;
  }
}

@keyframes boil2x3-3 {
  from {
    background-position: -100% -50%;
  }

  to {
    background-position: 100% -50%;
  }
}

/* section headings styles */
h2.section-heading {
  /* 1736 1020 */
  width: calc(1736px/2/4);
  height: calc(1020px/3/4);

  background-image: url('assets/images/navheadings.png');
  background-size: calc(1736px/4) calc(1020px/4);
  animation: boil2x3-1 0.3s steps(2) infinite;
  margin: 20px;
}

h2.head-projects {
  animation-name: boil2x3-2;
}

h2.head-contact {
  animation-name: boil2x3-3;
}

/* section div content styles */
.nav-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 20px;
  position: relative;
}

/* section contact styles */

.contact-email {
  margin: 5px;
  text-decoration: none;
  color: #000;

  font-size: 1.1em;

  text-decoration-color: var(--col-matcha);
}

.contact-email:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--col-matcha);
}

#btn-reqres {
  width: calc(var(--reqres-width)/20);
  height: calc(var(--reqres-height)/20);
  overflow: hidden;
  margin: 5px 20px 20px 20px;
}

#btn-reqres img {
  width: calc(var(--reqres-width)*2/20);
  height: calc(var(--reqres-height)*2/20);
  animation: boil2x2-norm 0.3s steps(2) infinite;
}

#btn-reqres:hover img {
  animation: boil2x2-hover 0.3s steps(2) infinite;
}

.soc-inv {
  font-size: 2em;
}

/* section contact animated socials */
ul.socials {
  display: flex;

  justify-content: center;
  position: relative;

  margin: 70px 0;
  width: 100%;
}

.socials-anim {
  /* 1000 1500
  1000 1000 */
  width: calc(var(--socials-img-dim)/4);
  height: calc(var(--socials-img-dim)/4);
  overflow: hidden;

  position: relative;
  flex-shrink: 0;
}

.socials-anim img {
  /* 1000 1500
  1000 1000 */
  width: calc(var(--socials-img-dim)*2/4);
  height: calc(var(--socials-img-dim)*2/4);

  position: relative;

  animation: boil2x2-norm 0.3s steps(2) infinite;
}

.socials-anim:hover img {
  animation: boil2x2-hover 0.3s steps(2) infinite;
}

.socials-anim:nth-of-type(1) img {
  height: calc(var(--socials-img-dim)*3/4);
}

.socials-anim:nth-of-type(1):hover img {
  animation: boil2x3-hover 0.6s steps(1) infinite;
}

.socials-anim:nth-child(3) {
  transform: scale(1.4);
}

.socials-anim:nth-of-type(1),
.socials-anim:nth-of-type(5) {
  top: -70%;
}

.socials-anim:nth-of-type(2),
.socials-anim:nth-of-type(4) {
  top: -25%;
  transform: scale(1.2);
}

.socials-anim:nth-of-type(1):hover,
.socials-anim:nth-of-type(5):hover {
  animation: soc-jump-15 0.3s ease-out forwards;
}

.socials-anim:nth-of-type(2):hover,
.socials-anim:nth-of-type(4):hover {
  animation: soc-jump-24 0.3s ease-out forwards;
}

.socials-anim:nth-of-type(3):hover {
  animation: soc-jump-3 0.3s ease-out forwards;
}

@keyframes boil2x2-norm {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes boil2x2-hover {
  from {
    transform: translate3d(0, -50%, 0);
  }

  to {
    transform: translate3d(-100%, -50%, 0);
  }
}

@keyframes boil2x3-hover {
  0% {
    transform: translate3d(0, calc(-100%/3), 0);
  }

  25% {
    transform: translate3d(-50%, calc(-100%/3), 0);
  }

  50% {
    transform: translate3d(0, calc(-100%/3*2), 0);
  }

  75% {
    transform: translate3d(-50%, calc(-100%/3*2), 0);
  }
}

@keyframes soc-jump-15 {
  from {
    top: var(--pos-15);
  }

  50% {
    top: calc(-75%);
  }

  to {
    top: var(--pos-15);
  }
}

@keyframes soc-jump-24 {
  from {
    top: var(--pos-24);
  }

  50% {
    top: calc(-30%);
  }

  to {
    top: var(--pos-24);
  }
}

@keyframes soc-jump-3 {
  from {
    top: var(--pos-3);
  }

  50% {
    top: calc(-5%);
  }

  to {
    top: var(--pos-3);
  }
}

/* ==================== section landing ==================== */
.section-landing {
  overflow: hidden;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#landing-logo {
  width: 70%;
  max-width: 800px;
  visibility: hidden;
}

#landing-intro,
.landing-content .roles {
  padding: 2px;
  font-size: 2em;
  letter-spacing: 0.1cm;
  text-align: center;
}

.landing-content .roles {
  text-align: right;
  position: relative;
  top: -10%;
  right: 15%;
  width: 100%;
}

.landing-content .roles p {
  opacity: 0;
  animation: fadein-slide-left 2s ease-in-out 1 forwards paused;
}

@keyframes fadein-slide-left {
  from {
    transform: translate3d(300px, 0, 0);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeout-slide-left {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-200px, 0, 0);
  }
}

/* ==================== ^^^section landing^^^ ==================== */

/* ==================== section about ==================== */
.ab-content-container p {
  margin: 10px 0;
  font-size: 1.3em;
}

.ab-content-container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.ab-text-desc {
  max-width: 700px;
}

div#j-avi {
  width: calc(var(--j-avi-dim)/7);
  height: calc(var(--j-avi-dim)/7);
  overflow: hidden;
  position: relative;
  left: 0;
}

#j-avi img {
  width: calc(var(--j-avi-dim)*4/7);
  height: calc(var(--j-avi-dim)*4/7);
  animation: j-avi-r1 0.3s steps(2) infinite;
}

@keyframes j-avi-r1 {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes j-avi-r1-blink {
  0% {
    transform: translate3d(0, 0, 0);
  }

  25% {
    transform: translate3d(-25%, 0, 0);
  }

  50% {
    transform: translate3d(-50%, 0, 0);
  }

  75% {
    transform: translate3d(-75%, 0, 0);
  }

  100% {
    transform: translate3d(-25%, 0, 0);
  }
}

@keyframes j-avi-r3-blink {
  0% {
    transform: translate3d(0, -50%, 0);
  }

  25% {
    transform: translate3d(-25%, -50%, 0);
  }

  50% {
    transform: translate3d(-50%, -50%, 0);
  }

  75% {
    transform: translate3d(-75%, -50%, 0);
  }

  100% {
    transform: translate3d(-50%, -50%, 0);
  }

}

@keyframes j-avi-sleep {
  from {
    transform: translate3d(-75%, -50%, 0);
  }

  to {
    transform: translate3d(75%, -100%, 0);
  }
}

/* ==================== ^^^section about^^^ ==================== */

/* ==================== media queries ==================== */
@media only screen and (max-width: 600px) {

  .topnav {
    display: flex;
    justify-content: center;
    padding: 5px;
    height: fit-content;
    width: fit-content;
    right: 0;
  }

  .topnav-content {
    justify-content: center;
    flex-direction: column;
    border: 2px dashed #000;

    border-radius: 20px;
    background-color: #ffffff;
    padding-top: 40px;
  }

  .topnav ul {
    display: revert;
  }

  #btn-toggle-nav {
    display: inline-block;
  }

  /* when navigation is closed */
  .nav-closed {

    width: fit-content;
    height: fit-content;
    overflow: hidden;

  }

  .nav-closed .topnav-content {
    display: none;
  }

  .nav-closed #btn-toggle-nav {
    display: revert;
    position: relative;
    margin: 0;
  }

  /* ^^^when navigation is closed^^^ */

  .nav-section {
    height: revert;
  }

  .section-landing {
    height: 100vh;
  }

  ul.socials {
    flex-wrap: wrap;
    margin: revert;
    width: auto;
  }

  #landing-logo {
    width: 90%;
  }

  .socials-anim:nth-child(n):hover {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 1000px) {
  .landing-content p {
    font-size: 0.7em;
  }

  ul.socials {
    flex-wrap: wrap;
    margin: 0;
  }

  .socials-anim:nth-child(n) {
    transform: scale(1);
    top: revert;

    width: calc(var(--socials-img-dim)/7);
    height: calc(var(--socials-img-dim)/7);
    margin: 5px;
  }

  .socials-anim:nth-of-type(1) img {
    height: calc(var(--socials-img-dim)*3/7);
  }

  .socials-anim:nth-child(n):hover {
    animation: none;
    transform: scale(1.1);
  }

  .socials-anim img {
    width: calc(var(--socials-img-dim)*2/7);
    height: calc(var(--socials-img-dim)*2/7);
  }

}

@media only screen and (min-width: 1001px) and (max-width: 1300px) {
  .ab-content-container {
    width: 100%;
  }

  .socials-anim:nth-child(n) {
    width: calc(var(--socials-img-dim)/6);
    height: calc(var(--socials-img-dim)/6);
    margin: 5px;
  }

  .socials-anim img {
    width: calc(var(--socials-img-dim)*2/6);
    height: calc(var(--socials-img-dim)*2/6);
  }

  .socials-anim:nth-of-type(1) img {
    height: calc(var(--socials-img-dim)*3/6);
  }

}

@media only screen and (max-height: 700px) {
  .nav-section {
    height: fit-content;
  }

  .section-landing {
    height: 100vh;
  }
}