@import url('https://fonts.googleapis.com/css2?family=Khand&display=swap');

/* custom css styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all 0.2s;
}

:root {
  scroll-behavior: smooth;

  /* variables */
  --j-avi-dim: 2000px;

  --socials-img-dim: 1000px;

  --reqres-width: 4210px;
  --reqres-height: 1140px;

  --pos-15: -70%;
  --pos-24: -25%;
  --pos-3: 0;

  --col-matcha: #79ab74;
  --col-matcha-rgb: 121, 171, 116;

  /* overflow: hidden; */

}

ul {
  list-style-type: none;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

abbr {
  text-decoration: none;
}

.prompt-next-sec {
  cursor: pointer;
  font-size: 1.3em;
  visibility: hidden;
  position: relative;
}

.prompt-next-sec p {
  position: relative;
}

.prompt-next-sec:hover p {
  color: var(--col-matcha);
  animation: prompt-anmin 0.3s ease-in forwards;
}

.next-sec {
  visibility: visible;
}

@keyframes prompt-anmin {
  from {
    top: -20px;
  }

  50% {
    top: 10px;
  }

  to {
    top: 0;
  }
}

@keyframes prompt-anmin {
  from {
    top: 0;
  }

  50% {
    top: 10px;
  }

  to {
    top: 0;
  }
}

/* top navigation styles */
.topnav {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  position: fixed;
  z-index: 20;
}

.topnav-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 20px 30px;

  width: 100%;
}

#btn-toggle-nav {
  display: none;
  cursor: pointer;

  margin: 5px;
  padding: 5px;

  position: absolute;
  right: 0;
  top: 0;

  font-weight: bold;

  background: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  width: 50px;
  letter-spacing: 2px;
}

.j-logo img {
  /* original dim: 1630 650 */
  width: calc(1630px/10);
}

.j-logo:hover {
  cursor: pointer;
  filter: brightness(0.9) invert(.5) sepia(.5) hue-rotate(70deg) saturate(200%);
}

.nav-list {
  display: flex;
  list-style-type: none;

  padding-bottom: 20px;
  align-items: baseline;
  cursor: pointer;
}

.nav-list li {
  /* 1736 1020 */
  width: calc(1736px/2/12);
  height: calc(1020px/3/12);

  background-image: url('assets/images/navheadings.png');
  background-size: calc(1736px/12) calc(1020px/12);
  animation: boil2x3-1 0.3s steps(2) infinite;

  margin: 0 10px 0 10px;
}

.nav-list li:hover {
  filter: brightness(0.9) invert(.5) sepia(.5) hue-rotate(70deg) saturate(200%);
}

.nav-list li:nth-child(2) {
  background-position: center right;
  animation-name: boil2x3-2;
}

.nav-list li:nth-child(3) {
  background-position: bottom right;
  animation-name: boil2x3-3;
}

@keyframes boil2x3-1 {
  from {
    background-position: -100% 0;
  }

  to {
    background-position: 100% 0;
  }
}

@keyframes boil2x3-2 {
  from {
    background-position: -100% 50%;
  }

  to {
    background-position: 100% 50%;
  }
}

@keyframes boil2x3-3 {
  from {
    background-position: -100% -50%;
  }

  to {
    background-position: 100% -50%;
  }
}

/* section headings styles */
h2.section-heading {
  /* 1736 1020 */
  width: calc(1736px/2/4);
  height: calc(1020px/3/4);

  background-image: url('assets/images/navheadings.png');
  background-size: calc(1736px/4) calc(1020px/4);
  animation: boil2x3-1 0.3s steps(2) infinite;
  margin: 20px;
}

h2.head-projects {
  animation-name: boil2x3-2;
}

h2.head-contact {
  animation-name: boil2x3-3;
}

/* section div content styles */
.nav-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 20px;
  position: relative;
}

.section-footer {
  font-family: khand, calibri;
  height: 250px;
  background-image: url('assets/images/footer-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

#f-cr {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;

  /* centers */
  margin: 20px auto;
  left: 0;
  right: 0;
}

/*=== return to top button ===*/

#to-top-link {
  cursor: pointer;
  color: white;
  text-decoration: none;
  text-align: center;
  position: absolute;
  top: -5px;

  transition: none;
}


#to-top-link:hover {
  font-weight: bold;
  text-decoration: underline;
}

#to-top-link:hover>div#to-top {
  animation: bg-hover-bird-2x2 0.3s steps(2) infinite;
}

div#to-top {
  /* overflow not needed for using bg */

  width: calc(355px/4);
  height: calc(354px/4);

  background-image: url('assets/images/returntop.png');
  background-size: calc(355px/2) calc(354px/2);

  transition: none;
  animation: bg-boil-bird-2x2 0.3s steps(2) infinite;
}

@keyframes bg-boil-bird-2x2 {
  from {
    background-position: -100% 0;
  }

  to {
    background-position: 100% 0;
  }
}

@keyframes bg-hover-bird-2x2 {
  from {
    background-position: -100% -100%;
  }

  to {
    background-position: 100% -100%;
  }
}

/* section contact styles */
.section-contact {

  font-family: khand;
}

.contact-email {
  margin: 5px;
  text-decoration: none;
  color: #000;

  font-size: 1.1em;

  text-decoration-color: var(--col-matcha);
}

.contact-email:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--col-matcha);
}

#btn-reqres {
  width: calc(var(--reqres-width)/20);
  height: calc(var(--reqres-height)/20);
  overflow: hidden;
  margin: 5px 20px 20px 20px;
}

#btn-reqres img {
  width: calc(var(--reqres-width)*2/20);
  height: calc(var(--reqres-height)*2/20);
  animation: boil2x2-norm 0.3s steps(2) infinite;
}

#btn-reqres:hover img {
  animation: boil2x2-hover 0.3s steps(2) infinite;
}

.soc-inv {
  font-size: 2em;
}

/* section contact animated socials */
ul.socials {
  display: flex;

  justify-content: center;
  position: relative;

  margin: 70px 0;
  width: 100%;
}

.socials-anim {
  /* 1000 1500
  1000 1000 */
  width: calc(var(--socials-img-dim)/4);
  height: calc(var(--socials-img-dim)/4);
  overflow: hidden;

  position: relative;
  flex-shrink: 0;
}

.socials-anim img {
  /* 1000 1500
  1000 1000 */
  width: calc(var(--socials-img-dim)*2/4);
  height: calc(var(--socials-img-dim)*2/4);

  position: relative;

  animation: boil2x2-norm 0.3s steps(2) infinite;
}

.socials-anim:hover img {
  animation: boil2x2-hover 0.3s steps(2) infinite;
}

.socials-anim:nth-of-type(1) img {
  height: calc(var(--socials-img-dim)*3/4);
}

.socials-anim:nth-of-type(1):hover img {
  animation: boil2x3-hover 0.6s steps(1) infinite;
}

.socials-anim:nth-child(3) {
  transform: scale(1.4);
}

.socials-anim:nth-of-type(1),
.socials-anim:nth-of-type(5) {
  top: -70%;
}

.socials-anim:nth-of-type(2),
.socials-anim:nth-of-type(4) {
  top: -25%;
  transform: scale(1.2);
}

.socials-anim:nth-of-type(1):hover,
.socials-anim:nth-of-type(5):hover {
  animation: soc-jump-15 0.3s ease-out forwards;
}

.socials-anim:nth-of-type(2):hover,
.socials-anim:nth-of-type(4):hover {
  animation: soc-jump-24 0.3s ease-out forwards;
}

.socials-anim:nth-of-type(3):hover {
  animation: soc-jump-3 0.3s ease-out forwards;
}

@keyframes boil2x2-norm {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes boil2x2-hover {
  from {
    transform: translate3d(0, -50%, 0);
  }

  to {
    transform: translate3d(-100%, -50%, 0);
  }
}

@keyframes boil2x3-hover {
  0% {
    transform: translate3d(0, calc(-100%/3), 0);
  }

  25% {
    transform: translate3d(-50%, calc(-100%/3), 0);
  }

  50% {
    transform: translate3d(0, calc(-100%/3*2), 0);
  }

  75% {
    transform: translate3d(-50%, calc(-100%/3*2), 0);
  }
}

@keyframes soc-jump-15 {
  from {
    top: var(--pos-15);
  }

  50% {
    top: calc(-75%);
  }

  to {
    top: var(--pos-15);
  }
}

@keyframes soc-jump-24 {
  from {
    top: var(--pos-24);
  }

  50% {
    top: calc(-30%);
  }

  to {
    top: var(--pos-24);
  }
}

@keyframes soc-jump-3 {
  from {
    top: var(--pos-3);
  }

  50% {
    top: calc(-5%);
  }

  to {
    top: var(--pos-3);
  }
}

/* ==================== section landing ==================== */
.section-landing {
  overflow: hidden;
  font-family: khand;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}

#landing-logo {
  width: 70%;
  max-width: 800px;
  visibility: hidden;
}

#landing-intro,
.landing-content .roles {
  padding: 2px;
  font-size: 2em;
  letter-spacing: 0.1cm;
  text-align: center;
}

.landing-content .roles {
  text-align: right;
  position: relative;
  top: -10%;
  right: 15%;
  width: 100%;
}

.landing-content .roles p {
  opacity: 0;
  animation: fadein-slide-left 2s ease-in-out 1 forwards paused;
}

@keyframes fadein-slide-left {
  from {
    transform: translate3d(300px, 0, 0);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeout-slide-left {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-200px, 0, 0);
  }
}

/* ==================== ^^^section landing^^^ ==================== */

/* loading animation */
#site-loading {
  width: 500px;
  position: absolute;
}


#load-percent {
  font-size: 2em;
  transform: translate(10px);
}

.petals {
  margin: 20px;
  display: inline-block;
  width: calc(256px/4);
  height: calc(239px/4);
  background: url('assets/images/petals.png');
  position: relative;

  background-size: calc(256px*3/4) calc(239px*3/4);
  /* border: 1px solid black; */
  opacity: 0;

  filter: brightness(0.9) invert(.5) sepia(.5) hue-rotate(200deg) saturate(200%);
}

.petals-set {
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: -10; */
  /* border: 1px solid red; */

}

.petals-set :nth-child(n) {
  opacity: 0;
  /* background-color: pink */
}

@keyframes animate-petals {
  0% {
    opacity: 0;
    top: -25%;

  }

  5% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 80%;
    transform: translate3d(1000%, 100%, 0) rotate(275deg);
  }
}

#petals-cont {
  position: fixed;
  width: 100%;
  height: 100%;

  z-index: -1;
  overflow-y: visible;
  overflow-x: hidden;

}

#petals-cont::-webkit-scrollbar {
  display: none;
}

#petals-set::-webkit-scrollbar {
  display: none;
}

.blurPetal {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px) brightness(0.9) invert(.5) sepia(.5) hue-rotate(270deg) saturate(100%);
}

#petals-cont::after {
  content: "";
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;

  background-image: linear-gradient(to bottom, transparent, white);
  width: 100%;
  height: 50vh;
}

@keyframes fade-out {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.3;
  }
}

#track {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  margin: 10px;
  opacity: 0.1;
  transition: opacity 0.2s;
}

#track:hover {
  opacity: 1;
}

#next-from-landing {
  animation: down 3s linear infinite;
  cursor: pointer;
  width: 200px;
  height: 50px;

  text-align: center;
  /* background: black; */
  border-radius: 30px;
  color: white;
  vertical-align: middle;
  transition: all 0.3s;
}

/* ==================== section about ==================== */
.ab-content-container p {
  margin: 10px 0;
  font-size: 1em;
}

.ab-content-container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

div#j-avi {
  width: calc(var(--j-avi-dim)/7);
  height: calc(var(--j-avi-dim)/7);
  overflow: hidden;
  position: relative;
  left: 0;
}

#j-avi img {
  width: calc(var(--j-avi-dim)*4/7);
  height: calc(var(--j-avi-dim)*4/7);
  animation: j-avi-r1 0.3s steps(2) infinite;
}

@keyframes j-avi-r1 {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes j-avi-r1-blink {
  0% {
    transform: translate3d(0, 0, 0);
  }

  25% {
    transform: translate3d(-25%, 0, 0);
  }

  50% {
    transform: translate3d(-50%, 0, 0);
  }

  75% {
    transform: translate3d(-75%, 0, 0);
  }

  100% {
    transform: translate3d(-25%, 0, 0);
  }
}

@keyframes j-avi-r3-blink {
  0% {
    transform: translate3d(0, -50%, 0);
  }

  25% {
    transform: translate3d(-25%, -50%, 0);
  }

  50% {
    transform: translate3d(-50%, -50%, 0);
  }

  75% {
    transform: translate3d(-75%, -50%, 0);
  }

  100% {
    transform: translate3d(-50%, -50%, 0);
  }

}

@keyframes j-avi-sleep {
  from {
    transform: translate3d(-75%, -50%, 0);
  }

  to {
    transform: translate3d(75%, -100%, 0);
  }
}

/* ==================== ^^^section about^^^ ==================== */
/* ==================== IndexCarousel ==================== */
/* .inter1 {
  width: 100%;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
} */
.ind-wrap {
  height: 500px;
  display: flex;
  align-items: center;
}

.indexcar-container {
  /* border: 1px solid black; */
  border-radius: 20px;

  width: 700px;
  height: 400px;

  transition: all 0.2s;
  position: relative;
}

.indexcard {
  /* border: 1px solid black; */
  border-radius: 2px;

  width: 600px;
  height: 400px;

  font-size: 1.1em;
  font-family: calibri;

  position: absolute;

  transform-origin: 100% 100%;

  box-shadow: 1px 1px 3px rgb(181, 181, 181);

  background: white;

  padding: 10px;
  transition: all 0.1s;
}

.indexcard:hover {
  box-shadow: 1px 1px 5px var(--col-matcha)
}

.card1 {
  /* background: rgb(192, 255, 192); */
  /* transform: rotate(7deg) translate(10px, 20px); */
  transform: rotate(4deg) translate(10px, 20px);
  font-size: 1em;
}

.indexcard h2 {
  color: grey;
  font-family: khand;
}

.card1 ul li {
  margin: 5px;
}

.card2 {
  /* background: rgb(193, 192, 255); */
  transform: rotate(-3deg) translate(30px, 10px);
}

/* .card3 {
  background: rgb(255, 192, 192);
  transform: rotate(-5deg) translate(40px, 5px);
  font-size: 1.2em;
} */

.indextoback {
  animation: shuffle-card3 0.6s 1 forwards;
}

.tech-skills-sec {
  display: flex;
  padding: 0 10px 0 10px;
}

.tech-skills-sec figure {
  margin: 10px;
}

.tech-skills-sec figure {
  width: 50%;
}

.tech-skills-sec figcaption {
  font-family: khand;
  font-size: 1.3em;
  font-weight: bold;
}

.tech-skills-sec ul {
  list-style-type: circle;
  padding-left: 20px;
}

#adobe-list {
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

}

#adobe-list li {
  margin: 2px 8px;
  padding-left: 0;
}

@keyframes shuffle-card3 {
  0% {
    /* transform: rotate(-5deg) translate(40px, 5px); */
    z-index: 5;
  }

  70% {
    transform: rotate(90deg) translate(-400px, -100px);
    z-index: 5;
  }

  80% {
    z-index: -5;
  }
}

/* ==================== ^^^ IndexCarousel ^^^ ==================== */
/* ==================== section projects ==================== */

.proj-content {
  display: flex;
  position: relative;
  margin: 30px 0;
  align-items: center;
}

.proj-carousel {
  width: 800px;
  height: 500px;
  margin: 10px;
  border: 7px solid white;

  position: relative;

  animation: anim-border 0.3s infinite;

  box-shadow: 0 5px 10px grey;
  border-radius: 10px;

}

@keyframes anim-border {
  from {
    /* border-image: url(./assets/images/border1.png) 18 repeat; */
    box-shadow: 0 6px 10px grey;
  }

  to {
    /* border-image: url(./assets/images/border2.png) 18 round; */
    box-shadow: 0 7px 12px grey;
  }
}

.proj-list {
  width: 250px;

  padding: 10px;
  display: flex;

  margin: 10px;
  overflow-y: hidden;
}

.proj-list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.proj-list li {
  font-family: calibri;
  height: 30px;
  margin: 5px 0;

  width: 100%;
  border-radius: 10px;

  border: 2px solid white;

  cursor: pointer;
  transform: scale(0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f7f7f7;
  box-shadow: 0 1px 5px grey;

  padding: 5px;

}


.proj-list li:hover,
.proj-list li.sel:hover {
  background: #d1d1d1;
}

.proj-list h3 {
  text-align: center;
  font-weight: 100;
}

.proj-list li.sel {
  transform: scale(1);
  background: rgb(209, 209, 209);
}

.proj-carousel .slide {
  /* padding: 10px; */
  position: relative;
  height: 100%;
  width: 100%;
}

.slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;

  background-color: #e6e6e6;

  filter: saturate(30%);
  transition: none;
}

.slide:hover .slide-img {
  filter: saturate(1);
}

.slide .text {
  width: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: #ffffffe0;
  margin: 10px;

  transition: all 0.1s;
}

.slide-title {
  font-size: 1.5em;
  font-family: khand;
}

.slide-desc {
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

.slide-extlink {
  border: 5px solid transparent;

  padding: 5px;
  width: max-content;
  border-radius: 10px;
  margin: 5px 0;
}

.slide-extlink::before {
  content: '→ ';
}

.slide-extlink a {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  color: #000;
}

.slide-extlink a:hover {

  color: var(--col-matcha);
}

.text.hidden {
  height: 2px;
  padding: 0;
}

.text.hidden .slide-title,
.text.hidden .slide-desc,
.text.hidden .slide-extlink {
  display: none;
}

/* ==================== ^^^section projects^^^ ==================== */

/* ==================== media queries ==================== */
@media only screen and (max-width: 600px) {

  .topnav {
    display: flex;
    justify-content: center;
    padding: 5px;
    height: fit-content;
    width: fit-content;
    right: 0;
  }

  .topnav-content {
    justify-content: center;
    flex-direction: column;
    border: 2px dashed #000;

    border-radius: 20px;
    background-color: #ffffff;
    padding-top: 40px;
  }

  .topnav ul {
    display: revert;
  }

  #btn-toggle-nav {
    display: inline-block;
  }

  /* when navigation is closed */
  .nav-closed {

    width: fit-content;
    height: fit-content;
    overflow: hidden;

  }

  .nav-closed .topnav-content {
    display: none;
  }

  .nav-closed #btn-toggle-nav {
    display: revert;
    position: relative;
    margin: 0;
  }

  /* ^^^when navigation is closed^^^ */

  .nav-section {
    height: revert;
  }

  .section-landing {
    height: 100vh;
  }

  .section-footer {
    /* keep since navsec height is reverted */
    height: 250px;
  }

  ul.socials {
    flex-wrap: wrap;
    margin: revert;
    width: auto;
  }

  #landing-logo {
    width: 90%;
  }

  .socials-anim:nth-child(n):hover {
    transform: scale(1.1);
  }

  /* -----index ----- */

  .section-about {
    display: flex;
    justify-content: center;
    /* height: default; */
  }

  .ind-wrap {
    height: revert;
    width: 100%;
  }

  .ab-content-container {
    width: 100%;
    flex-direction: column;
  }

  .indexcar-container {
    width: 100%;
    /* background: red; */
    height: revert;

  }

  .indexcard {
    width: 100%;
    height: revert;
    transform: rotate(0);
    position: relative;
    box-shadow: none;
    transform: revert;
  }

  .indexcard:hover {
    box-shadow: none;
  }

  /* .card3 {
    top: -400px;
  } */

  /* .section-projects {
    height: revert;
  } */

  /* .section-contact {
    height: revert;
  } */

  .proj-content {
    width: 100%;
  }

  .proj-carousel {
    width: 100%;
    height: 600px;
  }

}


@media only screen and (max-width: 1000px) {
  .landing-content p {
    font-size: 0.7em;
  }

  .proj-content {
    width: 100%;
    max-width: 800px;
    /* background: blue; */

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .proj-carousel {
    width: 100%;

  }

  ul.socials {
    flex-wrap: wrap;
    margin: 0;
  }

  .socials-anim:nth-child(n) {
    transform: scale(1);
    top: revert;

    width: calc(var(--socials-img-dim)/7);
    height: calc(var(--socials-img-dim)/7);
    margin: 5px;
  }

  .socials-anim:nth-of-type(1) img {
    height: calc(var(--socials-img-dim)*3/7);
  }

  .socials-anim:nth-child(n):hover {
    animation: none;
    transform: scale(1.1);
  }

  .socials-anim img {
    width: calc(var(--socials-img-dim)*2/7);
    height: calc(var(--socials-img-dim)*2/7);
  }

}

@media only screen and (min-width: 1001px) and (max-width: 1300px) {
  .ab-content-container {
    width: 100%;
  }

  .socials-anim:nth-child(n) {
    width: calc(var(--socials-img-dim)/6);
    height: calc(var(--socials-img-dim)/6);
    margin: 5px;
  }

  .socials-anim img {
    width: calc(var(--socials-img-dim)*2/6);
    height: calc(var(--socials-img-dim)*2/6);
  }

  .socials-anim:nth-of-type(1) img {
    height: calc(var(--socials-img-dim)*3/6);
  }

}

@media only screen and (max-height: 700px) {
  .nav-section {
    height: fit-content;
  }

  .section-landing {
    height: 100vh;
  }
}

@media only screen and (max-width: 1000px) {
  .proj-content {
    flex-direction: column;
    align-items: center;
  }

  .proj-list {
    bottom: 0;
    overflow: visible;
    height: 70px;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
  }

  .proj-list ul {
    display: flex;
    align-content: center;
    justify-content: center;
    transform: revert;
    flex-direction: row;
  }

  .proj-list ul li h3 {
    visibility: hidden;
  }

  .proj-list ul li {
    margin: 0 2px 0 2px;
    width: 20px;
    height: 50px;
    border-radius: 20px;

  }

  .proj-list li.sel {
    background-color: #d1d1d1;
    height: 60px;
  }

  .section-projects {
    padding: 5px;
  }
}